<div class="container">
  <%= simple_form_for([@booking, @seller_review]) do |f| %>
    <%= f.input :feedback %>
    <%= f.input :rating, :collection => %w[ 1 2 3 4 5], :input_html => {:class => 'selectpicker'}, prompt: "Rating" %>
    <%= f.submit %>
  <% end %>
</div>
