// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 350px 0;
  width: 100%;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* Style the button and place it in the middle of the container/image */
.container .btn-homepage-center {
  position: absolute;
  top: 81vh;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.logo-homepage-center {
  position: absolute;
  top: 62vh;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 450px;
  height: 450px;
}
