<div class="container m-5">
  <% @bookings.each do |booking| %>
    <p><strong>Status:</strong><%= booking.status %></p>
    <p><strong>Start date:</strong></p>
    <p><strong>End date:</strong></p>
    <p><strong>Price:</strong></p>
  <% end %>
</div>
